<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCd5Va85auCoqlgn6rJTl5VMjGRmKjOdM</string>
	<key>GCM_SENDER_ID</key>
	<string>28348437666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mediAi</string>
	<key>PROJECT_ID</key>
	<string>mediai-a4ebf</string>
	<key>STORAGE_BUCKET</key>
	<string>mediai-a4ebf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28348437666:ios:bc2eac702ee4de37ed73fb</string>
</dict>
</plist>